body {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin: 0;
}
header, footer {
  background-color: gainsboro;
  padding: 8px 1em;
}
main {
  padding: 28px;
  background-color: whitesmoke;
}

h1 {
  margin: 0.5em 0;
  height: 1.4em;
}

.hidden {
  display: none!important;
}

.picker {
  padding: 0 1em;
  margin-bottom: 0.5em;
  height: 2em;
  display: flex;
  align-items: center;
  column-gap: 1em;
}

button.refresh {
  border-color: transparent;
  font-size: 1.3em;
  border-radius: 1em
}

layer-stack {
  display: grid;
  position: relative;
}
layer-stack > .layer {
  grid-area: 1 / 1;
  z-index: 0;
  min-height: 0;
}
layer-stack > .layer[hidden] {
  visibility: collapse;
}

label, summary {
  font-weight: bold;
}

footer {
  padding-block: 1em;
  padding-inline: 0 1em;
  flex-basis: fit-content;
  display: flex;
}
#print-preview footer {
  justify-content: flex-end;
}
#image-display {
  background-color: lightgrey;
  position: relative;
  border: 1px dashed #000;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
#image-display > div {
  padding: 6px;
  overflow: auto;
}
#image-display #closeImageBtn {
  padding: 6px;
  display: block;
  justify-content: flex-end;
}

footer :is(button, .button) {
  font-size: 2em;
  opacity: 0.7;
  border: outset 2px;
  border-radius: 4px;
  padding: 0.5em 1em;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.4);
  display: block;
  align-content: center;
  margin-inline: 0.5em;
  cursor: pointer;
  text-decoration: none;
}
footer :is(button, a.button).primary {
  background-color: limegreen;
}

footer button:disabled,
footer a.button[disabled] {
  background-color: whitesmoke;
  color: dimgrey;
  border: 2px solid slategrey;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
  opacity: 0.7!important;
}

footer :is(button, a.button):hover {
  opacity: 1;
}

.instructions {
  padding: 0 1em;
  box-sizing: border-box;
  max-width: 100vw;
}
