@page {
  size: 28.8mm 88.8mm;
  margin: 0;
  padding: 0;
}
@media print {
  html, body {
    margin: 0.1px;
  }
  #form {
    display: none;
  }
  #outline {
    stroke: none;
  }
  section {
    padding: 0;
  }
}
body {
  display: flex;
  flex-direction: row;
  padding: 0; margin: 0;
  height: 100vh;
}
body > section {
  flex: 1 1 50%;
  padding: 14px;
}
section#form {
  box-shadow: inset 0 0 6px #666;
  background-color: #ccc;
}
img { display: block; }
#qr {
  width: 25mm;
  height: 25mm;
}
#logo {
  width: 10mm;
  height: 10mm;
}
form {
  margin-block: 1em;
}
fieldset {
  border-radius: 8px;
  padding: 0;
}
fieldset > label,
fieldset > div {
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 1em 0.75em;
}
fieldset > label:nth-child(1) {
  background-color: rgba(0,0,0,0.1);
}
label > span {
  flex: 0 1 12rem;
  align-content: center;
}
label > input[type="text"] {
  flex: 1 1 auto;
  height: 2em;
}
button {
  font-size: large;
  padding: 0.3em 1em;
}

footer {
  margin-block: 1em;
}

footer > button {
  background-color: forestgreen;
  color: white;
  font: 2em sans-serif;
}